.session-participant {
  display:flex;
}
.session-participant .user-avatar {
  margin-top:5px;
}
.session-participant .participant-info {
  margin-left:10px;
}

.session-participant .participant-name {
  font-weight:600;
}
.session-participant .participant-name,
.session-participant .participant-status {
  font-family: 'Proxima Nova W01, Avenir Next W01, Avenir Next, sans-serif';
  font-style: normal;
}
.session-participant .participant-status {
  font-weight:400;
  font-size:16px;
  line-height:30px;
  color:#8e939a;
  padding-left:20px;
  position:relative;
  top:-10px
}
.session-participant .participant-status:after {
  content:"";
  position:absolute;
  left:0;
  top:10px;
  width:10px;
  height:10px;
  border-radius:100%
}
.session-participant .participant-status.participant-status__green:after{
  background-color:#64d481;
}
.session-participant .participant-status.participant-status__gray:after{
  background-color:#d0d2d5;
}