.side-bar {
  display:inline-block;position:absolute;width:330px;height:calc(100vh - 75px);top:0;left:-330px;font-size:16px;border-right:1px solid #eeeeef;text-align:left;transition:transform .19s ease-in-out
}
.side-bar.side-bar__visible {
  transform:translateX(330px);z-index:1
}
.settings-modal-button {
  background-color:transparent;border:none;cursor:pointer
}
.settings-modal-button:active,
.settings-modal-button:focus{
  outline:none
}
.copy-session-link-wrapper {
  background-color:transparent;border:none;cursor:pointer
}
.copy-session-link-wrapper:focus {
  outline:none
}
.copy-session-link-wrapper input[type=text] {
  opacity:0;min-width:40px;width:40px;height:0;padding:0;margin:0;position:absolute;left:30px
}
.faq-link {
  width:30px;font:11px system-ui;padding-top:11px;text-align:center;margin-right:5px;color:#d0d2d5
}
.faq-link:hover {
  color:#8e939a
}
.faq-link .tui-icon {
  font-size:24px
}


/* SIDE-BAR-TABS STYLING */
.side-bar-tabs {
  height:45px;
  width:100%;
  position:relative;
  top:0;
  display:flex;
  align-items:stretch
}
.side-bar-tabs:after{
  content:"";
  height:1px;
  width:100%;
  background-color:#eeeeef;
  position:absolute;
  bottom:0;
  left:0
}
.side-bar-tabs .copy-session-link-wrapper{
  width:30px;
  color:#d0d2d5
}
.side-bar-tabs .copy-session-link-wrapper:hover{
  color:#8e939a
}
.side-bar-tab{
  font-family:'Proxima Nova W01,Avenir Next W01,Avenir Next,sans-serif';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:30px;
  display:inline-block;
  height:calc(100% - 1px);
  flex-grow:1;
  color:#8e939a;
  border:none;
  background-color:#fff;
  cursor:pointer;
  z-index:1
}

.side-bar-tab:hover{
  color:#404853
}
.side-bar-tab.side-bar-tab__active,
.side-bar-tab.side-bar-tab__active:hover{
  color:#6799ff;
  position:
  relative
}

.side-bar-tab.side-bar-tab__active:after,
.side-bar-tab.side-bar-tab__active:hover:after{
  content:"";
  height:1px;
  width:100%;
  background-color:#6799ff;
  position:absolute;
  bottom:-1px;
  left:0
}
.side-bar-tab:focus{
  outline:none
}


